{{#paper-card}}
{{#paper-card-content}}
<div class="list-group">
  <div class=" col-md-8 well-sm  ">
          <h3> Create New Order </h3>
          <table class="table">
                  <tr>
                    <td>{{paper-input label="Order Title" required=true value=title icon="description"  required-errortext="Order title is required."}}</td>
                  </tr>
                  <tr>
                    {{paper-button  primary=true raised=true disabled=isCreateOrderButtonDisabled  action="createOrder" label="create Order"}}
                  </tr>
          </table>
  </div>
  {{outlet}}
</div>
{{/paper-card-content}}
{{/paper-card}}
